@model PortoWork.Models.ViewModel
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_PortoLayout.cshtml";
}



<div id="projects-pg">

    <div class="head  ">
        <h1 class=" pull-right">Projects</h1>

    </div>
    <div class="container">
        <div class="row">
            <ul>
                @foreach (var item in Model.service)
                {
                    <li class="all">@item.serv_name</li>
                }
               
            </ul>

            @foreach (var item in Model.project)
            {
                <div class="col-md-4 img1">
                    <div class="img11">
                        <a href="~/ProjectDetail/Index/@item.pro_id">
                            <img class="img-respomsive" src="~/Content/img/1.jpg" alt="">
                        </a>
                    </div>
                    <h4>@item.pro_name</h4>
                    <p>@item.City.city_name</p>
                </div>
            }
            
         
        </div>
    </div>


</div>

