
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_PortoLayout.cshtml";
}



<section id="company-pg">

    <div class="head  ">
        <h1 class=" pull-right">Company</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><a href="#whowe">Who We Are</a></li>
                    <li><a href="#history">History</a></li>
                    <li><a href="#mission">Mission & Vision</a></li>
                    <li><a href="#lidership">Leadership</a></li>
                    <li><a href="#partners">Partners</a></li>
                </ul>
            </div>

            <div class="col-md-9">

                <img src="img/blog1.jpg" alt="">

                <div id="whowe">
                    <h2>Who We Are</h2>
                    <p>Founded in 2001 by John Doe, gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat</p>
                    <p>Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat.</p>
                </div>
                <hr>
                <div id="history">
                    <h2>History</h2>
                    <div class="col-md-7">
                        <img class="office pull-left" src="img/office.jpg" alt="">
                        <p>Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        <p>Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    </div>
                    <div class="col-md-5">
                        <ul>
                            <li><strong>2017-</strong>Moves its headquarters to a new building</li>
                            <li><strong>2014-</strong>Porto creates its new brand</li>
                            <li><strong>2006-</strong> Porto opens it doors in London</li>
                            <li><strong>2003-</strong>Inauguration of the new office</li>
                            <li><strong>2001-</strong>Porto goes into business</li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                <hr>

                <div id="mission">
                    <div class="col-md-6">
                        <i class="fa fa-crosshairs fa-3x" aria-hidden="true"></i>
                        <h2> Mission</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                    </div>
                    <div class="col-md-6">
                        <i class="fa fa-eye fa-3x" aria-hidden="true"></i>
                        <h2>Vision</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla nisi elit consequat.</p>
                    </div>
                </div>

                <div class="clear"></div>
                <hr>

                <div id="lidership">
                    <h2>Leadership</h2>
                    <div class="col-md-6">
                        <img class="pull-left" src="img/blog-det/22.jpg" alt="">
                        <h5>JOHN DOE<small> - FOUNDER</small></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-6">
                        <img class="pull-left" src="img/blog-det/23.jpg" alt="">
                        <h5>JEREMY DOE <small>- PRESIDENT</small></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <hr>
                <div id="partners">
                    <h2>Partners</h2>
                    <div class="col-md-4">
                        <img src="img/log/1.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="img/log/2.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="img/log/3.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="img/log/4.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="img/log/5.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="img/log/6.png" alt="">
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>


</section>
