@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_PortoLayout.cshtml";
}
<style>
    .add123 {
        padding-top: 194px;
        text-align:center;
        font-size:70px;
        color:red;
    }
</style>


<hgroup>
    <h1 class="add123">Error.</h1>
   
</hgroup>