@model PortoWork.Models.Service
@{
    ViewBag.Title = "Service Detail";
    Layout = "~/Views/Shared/_PortoLayout.cshtml";
}

<section id="service-detal">
    <div class="head  ">
        <h1 class=" pull-right">Services</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Pre-Construction</a></li>
                    <li><a href="#">General Construction</a></li>
                    <li><a href="#">Plumbing</a></li>
                    <li><a href="#">Painting</a></li>
                </ul>

                <h4>Contact Us</h4>
                <p>Contact us or give us a call to discover how we can help.</p>

                <div class="form-group">
                    <div class="col-md-12">
                        <p>Your name *</p>
                        <input type="text" value data-msg-required="Please enter your name." maxlength="100" class="form-control" name=" name" id="name" required aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <p>Your email address *</p>
                        <input type="email" value data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control name=" email" id="email" required aria-required="true">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <p>Subject</p>
                        <input type="text" value data-msg-required="Please enter the subject." maxlength="100" class="form-control name=" subject" id="subject" required aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <p>Message *</p>
                        <textarea maxlength="5000" data-msg-required="Please enter your message." rows="5" class="form-control name=" message" id="message" required aria-required="true"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Send Message" class="btn  mb-xlg" data-loading-text="Loading...">
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <h2>@Model.serv_name</h2>
                <img class="pull-right" src="img/ser2.png" alt="">
                <div class="col-md-5">
                    <p> @Model.serv_about</p>
                </div>
                <div class="col-md-7">
                    <img src="~/Content/img/slider1.jpg" alt="">
                </div>
                <div class="clear"></div>

               
                <h4>Our Process</h4>
                <ul>
                    <li>
                        <i class="fa fa-check" aria-hidden="true">
                        </i>Fusce sit amet orci quis arcu vestibulum vestibulum.
                    </li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true">
                        </i> Amet orci quis arcu vestibulum vestibulum.
                    </li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true">
                        </i>Orci quis arcu vestibulum vestibulum.
                    </li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true">
                        </i>Fuscesit amet orci quis arcu vestibulum vestibulum.
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</section>

